{% extends 'admin/change_list.html' %}

{% block object-tools %}
<div>   
    <form action="mortal/" method="POST" style="display:inline">
    	{% csrf_token %}
    	<span style="color:#f00">必须先按【数据库状态】按钮</span>&nbsp;<button type="submit">数据库状态</button>
	</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <form action="immortal/" method="POST" style="display:inline">
        {% csrf_token %}            
         <button type="submit">同步数据库</button>            
    </form>

</div>
<br/>
{{ block.super }}

{% endblock %}