{% extends "admin/change_list.html" %}
{% load i18n %}


{% block object-tools-items %}


 <li>
 a:{{a}}
	<form action="set_immortal/" method="POST" style="display:inline">
    	{% csrf_token %}
    	<span style="color:#f00">必须先按【数据库状态】按钮</span>&nbsp;<button type="submit">数据库状态</button>
	</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </li>

    {{ block.super }}

  <li>
    <a href="{% url "admin:photologue_upload_zip" %}" class="addlink">
      {% trans "Upload a zip archive" %}
    </a>
  </li>
{% endblock %}

